<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>USERs list</h1><br/>
	<table border="">
		<thead>
			<tr>
				<th><h1>name</h1></th>
				<th><h1>email</h1></th>
				<th><h1>password</h1></th>
				<th><h1>address</h1></th>
				<th><h1>subject</h1></th>
				<!-- <th><h1>experience</h1></th> -->
			</tr>
		</thead>
		<tbody>
			{% for x in users %}
			<tr>
			<td style="text-align: center;">{{x.first_name}}</td>
			<td style="text-align: center;">{{x.last_name}}</td>
			<td style="text-align: center;">{{x.Number}}</td>
			<td style="text-align: center;">{{x.email}}</td>
			<td style="text-align: center;">{{x.password}}</td>
			<!-- <td style="text-align: center;">{{x.experience}}</td>
		</tr> -->
		{% endfor %}
		</tbody>
	</table>


	
</body>
</html>